**/.idea
.DS_Store
.gradle
.idea
**/build/
**/golang/main
bin/*
v1/*/**/*.proto
v1/**/*.pb.go
v1/**/*pb2.py
v1/**/*pb2.pyi
v1/**/*pb2_grpc.py
destination_run/
connector_run/
**/__pycache__/
v1/**/node_modules/
v1/**/package-lock.json
v2/*/**/*.proto
v2/**/*.pb.go
v2/**/*pb2.py
v2/**/*pb2.pyi
v2/**/*pb2_grpc.py
v2/**/node_modules/
v2/**/package-lock.json