**/.idea
.DS_Store
.gradle
.idea
**/build/
**/golang/main
bin/*
v1_examples/*/**/*.proto
v1_examples/**/*.pb.go
v1_examples/**/*pb2.py
v1_examples/**/*pb2.pyi
v1_examples/**/*pb2_grpc.py
destination_run/
connector_run/
**/__pycache__/
v1_examples/**/node_modules/
v1_examples/**/package-lock.json